<section class="cafe-background">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card-xs-10 card-sm-12 card-md-12 card-lg-12 card-xl-12">
                    <div class="card">
                        <div class="card-body  bg-danger">
                            <div class="card-text bg-success bg-warning">
                                <div class="card-image">
                                        <a href="cafe.html"><button class="back_btn"><i class="fa fa-close"></i> Close</button></a>
                                    <iframe ng-src="{{url}}" width="1300" height="600" frameborder="6" class="cafe_map"
                                        allow="geolocation *;"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>